.listadopartidas {
  display: flex;
  align-self: center;
  list-style: none;
}
.formRegister {
  align-content: center;
  font-size: large;
  align-content: center;
  background-color: green;
  position: fixed;
  bottom: 0;
  border-color: black;
}
